[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = {extras = ["with-social"], version = "*"}
djangorestframework-jwt = "*"
django-cors-headers = "*"
django-countries = "*"
stripe = "*"
django-allauth = "*"
django-rest-framework = "*"
segno = "*"
pillow = "*"
qrcode = "*"
django-qr-code = "*"
pymaging = {git = "git://github.com/ojii/pymaging.git"}
pymaging-png = {git = "git://github.com/ojii/pymaging-png.git"}

[requires]
python_version = "3.8"
